/* src/components/EndTurnButton/EndTurnButton.module.css */

.endTurnButton {
  position: absolute;
  bottom: 10px;
  left: 10px;
  padding: 10px;
  background-color: rgba(70, 130, 180, 0.7);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  transition: all 0.3s ease;
}

.endTurnButton:hover:not(.disabled) {
  background-color: rgba(70, 130, 180, 0.9);
}

.disabled {
  background-color: rgba(128, 128, 128, 0.7);
  cursor: not-allowed;
}
